@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  display: flex;
  justify-content: center;
}

.titre {
  position: relative;
  left: 0px;
}

.infos {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.nom,
.prenom,
.age,
.profilSommeil,
.profession {
  position: relative;
  display: flex;
  top: 15px;
  margin-bottom: auto;
  justify-content: left;
}
li {
  font-size: 1.2em;
}
.block {
  list-style-type: none;
  margin-bottom: 10px;
}
.blocInfos {
  display: flex;
  justify-content: left;
}
.pageInfosParagraphe {
  position: relative;
  display: flex;
  top: 30px;
  text-align: center;
  left: 0px;
  overflow-wrap: break-word;
}
h2 {
  font-size: 1.2em;
  font-weight: lighter;
}
